/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_3 : rgba($palette-primary_3, 0.75);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	a,
	.mod-beta h6,
	.link-primary,
	#secondary-menu a,
	#menu-social a,
	#menu-social li a:hover,
	#menu-social li a:focus,
	#menu-social .current-menu-item a,
	.site-title:first-letter,
	.entry-title:first-letter,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .current-menu-parent > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.widget.well.widget_calendar a {
		color: $palette-primary_1;
	}
	hr,
	.nav > li > a:focus,
	.nav > li > a:hover,
	.mark,
	mark {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.button-primary,
	input[type="submit"],
	.pager li > a {
		background: $palette-primary_1;
		border: 2px solid $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	a.button,
	a.button.alt,
	button.button,
	button.button.alt,
	input.button,
	input.button.alt,
	p.buttons a.button,
	#respond input#submit,
	#respond input#submit.alt,
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $palette-primary_1;
	}
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: $text-contrast-palette-primary_1;
	}
	.mod-divider {
		border-top: 1px solid $palette-primary_1;
	}
	.mod-blockquote,
	blockquote {
		border-left: 5px solid $palette-primary_1;
	}
	hr::after {
		border-top: 8px solid $palette-primary_1;
	}
	.panel-default {
		border-color: $palette-primary_1;
	}

	/* xs */
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: $palette-primary_1;
	}

	/* sm */
	@media (min-width: 768px) {
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus,
		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > .active > a:hover,
		.navbar-default .navbar-nav > .active > a:focus,
		.navbar-default .navbar-nav > .open > a,
		.navbar-default .navbar-nav > .open > a:hover,
		.navbar-default .navbar-nav > .open > a:focus,
		.navbar-default .navbar-nav > .current-menu-parent > a {
			background: $palette-primary_2;
			border-bottom: 3px solid $palette-primary_1;
			color: $text-contrast-palette-primary_2;
		}
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.site-header,
	.site-footer,
	#tertiary-menu,
	.page-template-page_home .entry-footer {
		background-color: $palette-primary_2;
	}
	.mod-alpha h3,
	.slogan,
	.tagline,
	.link-secondary,
	a.button:hover,
	a.button.alt:hover,
	input.button:hover,
	input.button.alt:hover,
	button.button:hover,
	button.button.alt:hover,
	p.buttons a.button:hover,
	#respond input#submit:hover,
	#respond input#submit.alt:hover,
	.comments-area .comment-content p {
		color: $palette-primary_2;
	}
	.site-header,
	.site-footer,
	.widget-title,
	.widget.well,
	.widget.well a,
	.site-footer p,
	.site-info,
	.attribution,
	.site-title a,
	.site-title a:hover,
	.site-title a:focus,
	.site-title a:active,
	.site-description,
	#menu-social li a,
	#secondary-menu a[href]:hover,
	#secondary-menu a[href]:focus,
	#secondary-menu .current-menu-item a,
	#tertiary-menu a[href]:hover,
	#tertiary-menu a[href]:focus,
	#tertiary-menu .current-menu-item a,
	#footer-center-menu .current-menu-item a,
	#footer-center-menu a[href]:hover,
	#footer-center-menu a[href]:focus,
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.well caption {
		color: $text-contrast-palette-primary_2;
	}
	.dropdown-menu {
		background-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.navbar-default .navbar-toggle {
		border-color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	.background-secondary,
	.background-secondary::before,
	.background-secondary::after,
	a.button:hover,
	button.button:hover,
	input.button:hover,
	a.button.alt:hover,
	p.buttons a.button:hover,
	button.button.alt:hover,
	input.button.alt:hover,
	#respond input#submit.alt:hover,
	#respond input#submit:hover {
		background-color: $palette-primary_3;
	}
	.button-secondary {
		background-color: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.mod-alpha,
	.background-secondary h2 {
		color: $text-contrast-palette-primary_3;
	}
	a:hover,
	a:focus,
	.link-primary:hover,
	.link-primary:focus,
	.link-secondary:hover,
	.link-secondary:focus {
		color: $palette-primary_3;
	}
	.widget-area {
		border: 1px solid $palette-primary_3;
	}

	/* Gallery Captions */
	.wc-gallery-captions-show .gallery-caption,
	.wc-gallery-captions-onpopup .gallery-caption  {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.wc-gallery-captions-showon .gallery-caption, 
	.wc-gallery-captions-onhover .gallery-caption {
		background: $rgba_3;
		color: $text-contrast-palette-primary_3;
	}
	.wc-gallery .gallery-caption {
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: $text-contrast-palette-primary_3;
		}
	}
	.mfp-title {
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: #fff !important;
		}
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.background-tertiary,
	.background-tertiary::before,
	.background-tertiary::after,
	.call-to-action .button-primary {
		background-color: $palette-primary_4;
	}
	.background-tertiary,
	.background-tertiary h2,
	.background-tertiary h3,
	.background-tertiary h5,
	.call-to-action .button-primary {
		color: $text-contrast-palette-primary_4;
	}
	.call-to-action .button-primary {
		border: none;
	}
	.call-to-action hr {
		background: $palette-primary_4;
	}
	.call-to-action .button-primary:hover,
	.call-to-action .button-primary:focus {
		background-color: $text-contrast-palette-primary_4;
		border: none;
		color: $palette-primary_4;
	}
	.mod-beta {
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## Button Hover
	-----------------------------------------------*/
	.button-primary:hover,
	.button-primary:focus,
	.button-secondary:hover,
	.button-secondary:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	.pager li > a:hover,
	.pager li > a:focus {
		background: none;
		border: 2px solid $palette-primary_1;		
		color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	.background-primary,
	.background-primary::before,
	.background-primary::after,
	#boldgrid-sticky-filler,
	#boldgrid-sticky-push {
		background-color: $palette-primary-neutral-color;
	}
	.mod-divider a,
	&.custom-background.single {
		background: $palette-primary-neutral-color;
	}
	.mod-beta img {
		border: 3px solid $palette-primary-neutral-color;
	}
	.mod-beta-1::before {
		border-bottom: 20px solid $palette-primary-neutral-color;
	}
	h1,
	h1.entry-title a,
	h1.entry-title a:hover,
	h1.entry-title a:focus,
	h2,
	h3,
	h4,
	h5,
	h6,
	.background-primary h2,
	.sidebar h2.widget-title,
	.posted-on,
	.byline,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary-neutral-color;
	}
	.mod-beta-1,
	&.page-template-default .site-content,
	&.single .site-content,
	&.search .site-content,
	&.blog .site-content,
	&.archive .site-content,
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background-color: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## Et Cetera
	-----------------------------------------------*/
	.mod-alpha img {
		border: 3px solid #fff;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
	}

	/* Call to Action */
	.call-to-action-wrapper {
		background-color: rgba(255, 255, 255, 0.8);
	}

	/* md */
	@media (min-width: 992px) {
		.call-to-action-wrapper {
			background: none;
		}
	}
	&.error404 {
		.site-content {
			background: $palette-primary-neutral-color;
			color: $text-contrast-palette-primary-neutral-color;
		}
	}

	/*-----------------------------------------------
	## WooCommerce
	-----------------------------------------------*/
	&.woocommerce div.product .stock.out-of-stock {
		color: $palette-primary_1;
	}
	&.woocommerce div.product .stock {
		color: $text-contrast-palette-primary-neutral-color;
	}		
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.page-template-page_home.palette-primary .entry-footer {
	background-color: $palette-primary_4;
}
.disabled-footer .site-footer {
	background-color: $palette-primary-neutral-color;
}
.palette-primary.mce-content-body,
.palette-primary.mce-content-body .background-primary {
	background-color: $palette-primary-neutral-color;
}
